<!doctype html>
<html ng-app="app">
<head>
  <title>Neverlate</title>
  <meta charset="utf-8">
  <link href="/styles/gaiabb/all.css" rel="stylesheet" type="text/css">
  <link href="/styles/main.css" rel="stylesheet" type="text/css">
  <script defer src="/scripts/vendor/angular.min.js"></script>
  <script defer src="/scripts/vendor/underscore-min.js"></script>
</head>
<body ng-controller="AppCtrl">
  <section id="index" data-position="current" class="current">  
  <section data-type="sidebar" data-position="current" ng-controller="AgenciesListCtrl">
    <header>
      <menu type="toolbar">
        <a href="#content"><span class="icon icon-add">add</span></a>
      </menu>
      <h1>Agencias <em>({{ agencies.length }})</em></h1>
    </header>
    <nav>
      <ul>
        <li ng-repeat="agency in agencies">
          <a id="btn-action-menu" href="#" ng-click="loadAgency(agency)">
            <p>{{ agency.agency_name }}</p>
          </a>
        </li>
      </ul>
    </nav>
    </section>
    <section id="drawer" role="region" data-position="current" ng-controller="StopsListCtrl">
      <header>
        <a href="#content"><span class="icon icon-menu">hide sidebar</span></a>
        <a href="#drawer"><span class="icon icon-menu">show sidebar</span></a>
        <h1>{{ agency.agency_name }}</h1>
      </header>
      <article class="content scrollable">
        <div data-type="list">
          <ul>
            <li ng-repeat="stop in stopsList">
              <a class="action-menu" href="#stop-show" ng-click="showStop(stop)">
                <p>{{ stop.stop_name }}</p>
                <p ng-if="stop.distance">{{ stop.distance.toFixed(2) }} Km</p>
              </a>
            </li>
          </ul>
        </div>
      </article>
    </section>
  </section>
  <section id="stop-show" role="region" class="right" data-position="right" ng-controller="StopShowCtrl">
    <header class="fixed">
      <a id="btn-scrolling-back" href="#"><span class="icon icon-back">back</span></a>
      <h1>{{ stop.stop_name }}</h1>
    </header>
    <article class="content scrollable">
      <div data-type="list">
        <ul>
          <li ng-repeat="dep in departures">
            <a class="action-menu" href="#stop-show" ng-click="showStop(stop)">
              <p>{{ dep.departure_date }}</p>
              <p>{{ dep.trip_headsign }}</p>
            </a>
          </li>
        </ul>
      </div>
    </article>
  </section>
</body>
  <script defer src="/scripts/main.js"></script>
</html>

